{% block content %}


<body>

  <div class="container" style="margin-top:30px">
    <div class="row">
      <div class="col-sm-4">
        <h2>About Me</h2>
        <h5>Photo of me:</h5>
        <img src="images/Ava2.jpg" alt="Nature" style="width:100%">
        <p>Single mother with three kids while working a full time job</p>
        <h3>Donation</h3>
        <p>The money will be to support us to hire a domestic helper!</p>
        <ul class="nav nav-pills flex-column">
          <li class="nav-item">
            <a class="nav-link active" href="#">Alipay</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Paypal</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Payme</a>
          </li>
  
        </ul>
        <hr class="d-sm-none">
      </div>
      <div class="col-sm-8">
        <h2></h2>
        <h5>Bringing the kids to the mall, Dec 7, 2020</h5>
      <img src="images/kid.jpg" alt="Nature" style="width:100%">
        <p>my God!!</p>
        <p>If you are a parent yourself,I think you understand that kids loves mall so much that they would get hyped up and could not stop running and talking.It 's not that I don't love them or sth,it's just that I worry they will got lost or kidnapped by some
        creppy ass people!!!It's just impossible for me to look at them at all time</p>
        <br>
        <h2>A day with the kids at home while working!!</h2>
        <h5>I am having a'great' time@@, Sep 2, 2017</h5>
        <img src="images/Ava.jpg" alt="Nature" style="width:100%">
        <p>not chiling</p>
        <p>My kids are around 2-3 years old,which at an age where they require me the most.However,i have to put food on the table as well,especially in this covid time, i have to even look for jobs!!It's burning me out,I am so stressed and depresss,i afarid i will not able to give them a happy childhood.It's hard to be a parent , right?#</p>
      </div>
    </div>
  </div>
  
  <div class="jumbotron text-center" style="margin-bottom:0">
    <p>Footer</p>
  </div>
  
  
  {% endblock content %}