

{% block content %}
<style>
    body,h1,h2,h3,h4,h5 {font-family: "Raleway", sans-serif}
    </style>
    <body class="w3-light-grey">
    
    <!-- w3-content defines a container for fixed size centered content,
    and is wrapped around the whole page content, except for the footer in this example -->
    <div class="w3-content" style="max-width:1400px">
    
    <!-- Header -->
    <header class="w3-container w3-center w3-padding-32">
      <h1><b>Education</b></h1>
      <p>Welcome to the blog of <span class="w3-tag">Students</span></p>
    </header>
    
    <!-- Grid -->
    <div class="w3-row">
    

    <!-- Blog entries -->
    <div class="w3-col l8 s12">
      <!-- Blog entry -->
      <div class="w3-card-4 w3-margin w3-white">
        
        <div class="w3-container">
          
          
          <h3><b>My Lawyer Dream</b></h3>
          <h5>tuition support request <span class="w3-opacity">September 7, 2020</span></h5>
        </div>
    
        <div class="w3-container">
          <p>I have always been fasinated by how lawyers put the bad guys behind bars with their intelligence,which I dedicated
          to be one someday.Although i have received a law degree offer from Hong Kong University with my excellent performance in HKDSE,
          I am not able to afford it or have the qualifications to loan from banks or the goverment.I need this opportunity to bring my family out of
         poverty,I need this opportunity to become the defender of justice,please please please could you help this poor little me...</p>
         
         
         
         
         <div class="w3-row">
            <div class="w3-col m8 s12">
              <p><button class="w3-button w3-padding-large w3-white w3-border"><b>READ MORE »</b></button></p>
            </div>
            <div class="w3-col m4 w3-hide-small">
              <p><span class="w3-padding-large w3-right"><b>Comments  </b> <span class="w3-tag">323</span></span></p>
            </div>
          </div>
        </div>
      </div>
      <hr>
    



      <!-- Blog entry -->
      <div class="w3-card-4 w3-margin w3-white">
      <img src="images/ballet.jpg" alt="Norway" style="width:100%">
        <div class="w3-container">
          <h3><b>Becoming a professional dancer</b></h3>
          <h5>journey <span class="w3-opacity">March 7, 2021</span></h5>
        </div>
    
        <div class="w3-container">
          <p>Ballet is my life,i cannot live without it.When I dance,i free myself from this cage and forget about all the anxiety and depression
          that life has bring me.When i dance,I am no longer an individual,I connected to the nature and blend in as an form of art , to express
        how beautiful it is.With the lovely donor that I met from this website,they pay my tuition fee at the University of Arizona School of Dance
      .There are no words to express my gratitude,I promise to become a great dancer and entertain the world.</p>
          <div class="w3-row">
            <div class="w3-col m8 s12">
              <p><button class="w3-button w3-padding-large w3-white w3-border"><b>READ MORE »</b></button></p>
            </div>
            <div class="w3-col m4 w3-hide-small">
              <p><span class="w3-padding-large w3-right"><b>Comments  </b> <span class="w3-badge">200</span></span></p>
            </div>
          </div>
        </div>
      </div>
    <!-- END BLOG ENTRIES -->
    </div>
    
    <!-- Introduction menu -->
    <div class="w3-col l4">
      <!-- About Card -->
      <div class="w3-card w3-margin w3-margin-top">
      <img src="images/guitar.jpg" style="width:100%">
        <div class="w3-container w3-white">
          <h4><b>Free Education</b></h4>
          <p>It is just me or everybody want to play learn guitar at some point of their life.However,doesn't want to spend that much money
          on courses and stuff.Luckily,I met a group of people here who are willing to teach me a little bit here and there.Now i have been able to play
        on my own</p>
        </div>
      </div><hr>
    
      <!-- Posts -->
      <div class="w3-card w3-margin">
        <div class="w3-container w3-padding">
          <h4>Popular Posts</h4>
        </div>
        <ul class="w3-ul w3-hoverable w3-white">
          <li class="w3-padding-16">
            <img src="images/bachelor.jpg" alt="Image" class="w3-left w3-margin-right" style="width:50px">
            <span class="w3-large">Melody</span><br>
            <span>my first bachleor degree</span>
          </li>
          <li class="w3-padding-16">
            <img src="images/harvard.jpg" alt="Image" class="w3-left w3-margin-right" style="width:50px">
            <span class="w3-large">Berry</span><br>
            <span>The way to Harvard</span>
          </li>
          <li class="w3-padding-16">
            <img src="images/michelin.jpg" alt="Image" class="w3-left w3-margin-right" style="width:50px">
            <span class="w3-large">Kathy</span><br>
            <span>Becoming a michellen 5 star chef</span>
          </li>
          <li class="w3-padding-16 w3-hide-medium w3-hide-small">
            <img src="images/master.jpg" alt="Image" class="w3-left w3-margin-right" style="width:50px">
            <span class="w3-large">Emma</span><br>
            <span>Master Degree is not easy</span>
          </li>
        </ul>
      </div>
      <hr>
    
      <!-- Labels / tags -->
      <div class="w3-card w3-margin">
        <div class="w3-container w3-padding">
          <h4>Tags</h4>
        </div>
        <div class="w3-container w3-white">
        <p><span class="w3-tag w3-black w3-margin-bottom">College</span> <span class="w3-tag w3-light-grey w3-small w3-margin-bottom">Harvard</span> <span class="w3-tag w3-light-grey w3-small w3-margin-bottom">HKU</span>
          <span class="w3-tag w3-light-grey w3-small w3-margin-bottom">Music program</span> <span class="w3-tag w3-light-grey w3-small w3-margin-bottom">Culinary program</span> <span class="w3-tag w3-light-grey w3-small w3-margin-bottom">HKUST</span>
          <span class="w3-tag w3-light-grey w3-small w3-margin-bottom">Community</span> <span class="w3-tag w3-light-grey w3-small w3-margin-bottom">Dancer</span> <span class="w3-tag w3-light-grey w3-small w3-margin-bottom">Tuition</span>
          <span class="w3-tag w3-light-grey w3-small w3-margin-bottom">Discounted course</span>
          <span class="w3-tag w3-light-grey w3-small w3-margin-bottom">Sports education</span>
        </p>
        </div>
      </div>
    
    <!-- END Introduction Menu -->
    </div>
    
    <!-- END GRID -->
    </div><br>
    
    <!-- END w3-content -->
    </div>

    {% endblock content %}