
{% load static %}
<!DOCTYPE html>
<html>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.min.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">

<body>
<div class="w3-top w3-bar w3-white w3-wide w3-padding w3-card">
<a href="#home" class="w3-bar-item w3-button"><b>FE</b>male</a>
<!-- Float links to the right. Hide them on small screens -->
<div class="w3-right w3-hide-small">
<a href="#Introduction" class="w3-bar-item w3-button">Introduction</a>
<a href="#Donation" class="w3-bar-item w3-button">Donation</a>
<a href="#Calendar" class="w3-bar-item w3-button">Calendar</a>
<a href="#Sign in" class="w3-bar-item w3-button">Sign in</a>
<a href="{%url 'register' %}" class="w3-bar-item w3-button">Sign up</a>
</div>
</div>
<div id="home" class="w3-content" style="max-width:1564px"></div>    

{% block content %}

{% endblock %}
</body>
</html>
