{% extends "users/base.html" %}
{% block content %}
{% load static %}


    
<div class="w3-display-container w3-content" style="max-width:1500px;">
  <img src="{% static 'title.jpg' %}"class="w3-image" alt="Architecture" width="100%">
  <div class="w3-display-middle w3-margin-top w3-center">
  <h1 class="w3-xxlarge w3-text-white w3-wide">
    <span class="w3-padding w3-black w3-opacity-min"><b>EV</b></span>
    <span class="w3-hide-small w3-text-pink">Engage Empower Envision</span>
  </h1>
  </div>
  </div>
  
  <!-- categories -->
  <div id="Introduction" class="w3-container w3-padding-32">
      <h2 class="w3-border-bottom w3-border-light-grey w3-padding-16">Introduction</h2>
      <div class="container">
        <div class="card-deck">
          <div class="card bg-primary">
            <div class="card-body text-center">
              <h1 class="card-text">Envizion</h1>
              <h2 class="card-text">Reimagining the future</h2>
              <p class="card-text">                                     </p>
              <p class="card-text">                                     </p>
            </div>
          </div>
          <div class="card bg-warning">
            <div class="card-body text-center">
              <h1 class="card-text">Build your network</h1>
            </div>
          </div>
          <div class="card bg-success">
            <div class="card-body text-center">
              <h1 class="card-text">Gain financial support</h1>
            </div>
          </div>
          <div class="card bg-danger">
            <div class="card-body text-center">
              <h1 class="card-text">Access a range of resources</h1>
            </div>
          </div>  
        </div>
      </div>


   
  
  <!-- About -->
  <div id="Donation" class="w3-container w3-padding-32">
  <h2 class="w3-border-bottom w3-border-light-grey w3-padding-16">Donation</h2>
  <h4 class="">Show love for disadvantaged women </h4>
  </div>
  
  <div class="w3-row-padding w3-grayscale">
  
  <div class="w3-col l3 m6 w3-margin-bottom">
  <img src="{% static 'Ava.jpg' %}" height="250" alt="Ava" style="width:100%">
  <h3> Ava </h3>
  <p class="w3-opacity"style="text-shadow:1px 1px 0 #444">Single mother</p>
  <p>I earn money as a freelancer while having to take care my kids at home i would like to hire a domestic helper but don't have no money..
  </p>
  <p><button class="w3-button w3-ripple w3-blue w3-hover-pink w3-block w3-round-xlarge">donate</button></p>
  </div>
  
  <div class="w3-col l3 m6 w3-margin-bottom">
  <img src="{% static 'Wendy.jpg' %}" height="250" alt="Wendy" style="width:100%">
  <h3> Wendy </h3>
  <p class="w3-opacity"style="text-shadow:1px 1px 0 #444">college student</p>
  <p>I got the offer form HKU but not able to cover the tution fee due to my poor financial status
  it would be lovely if you could help..</p>
  <p><button class="w3-button w3-ripple w3-blue w3-hover-pink w3-block w3-round-xlarge">donate</button></p>
  </div>
  
  <div class="w3-col l3 m6 w3-margin-bottom">
  <img src="{% static 'Yolanda.jpg' %}" height="250" alt="Yolanda" style="width:100%">
  <h3> Yolanda </h3>
  <p class="w3-opacity"style="text-shadow:1px 1px 0 #444">liver cancer patient</p>
  <p>I was recognised to have cancer half year ago ,However i was not able to cover the medical bills
  it would be nice if you can help me..</p>
  <p><button class="w3-button w3-ripple w3-blue w3-hover-pink w3-block w3-round-xlarge">donate</button></p>
  </div>
  
  <div class="w3-col l3 m6 w3-margin-bottom">
  <img src="{% static 'Terresa.jpg' %}" height="250" alt="Terresa" style="width:100%">
  <h3>Terresa</h3>
  <p class="w3-opacity"style="text-shadow:1px 1px 0 #444">startup founder</p>
  <p>i am a poor college student who just founded a tech startup which caters the waste disposal problem ,click in to see more..</p>
  <p><button class="w3-button w3-ripple w3-blue w3-hover-pink w3-block w3-round-xlarge">donate</button></p>
  </div>
  
  </div>
  
  <!-- Contact Section -->
  
  
  
  <img src="{% static '2.jpg' %}" style="width:100%"  class="w3-round">
    
    
    <!-- End page content -->
    </div>
    {% endblock content %}