{% extends "users/base.html" %}
{%load crispy_forms_tags %}
{%block title%} Register {%endblock title%}
{% block content %}
    <div class="content-section">

        <h1> Login</h1>
        <form method="POST">
            {% csrf_token %}
            {{form|crispy }}

            <div >
                <button type = "submit">Sign In</button>
            </div>
        </form>
        <div> 
            <small class = "text-muted">
                Need an account? <a href="{%url 'register' %}"> Sign Up</a>
            </small>
        </div>
    </div>
{% endblock content %}