{% extends "users/base.html" %}
{%load crispy_forms_tags %}
{%block title%} Register {%endblock title%}
{% block content %}
<br><br/>

    <div class="content-section">
        <header class="w3-container w3-teal">
        <h1> Login</h1>
        </header>>
        <div class="w3-container w3-half w3-margin-top">

            <form class="w3-container w3-card-4">
        <form method="POST">
            {% csrf_token %}
            
            {{form|crispy }}

            <div >
                <button type = "submit" class="w3-button w3-section w3-teal w3-ripple">Sign In</button>
            </div>
        </form>
        <div> 
            <small class = "text-muted">
                Need an account? <a href="{%url 'register' %}"> Sign Up</a>
            </small>
        </div>
    </div>
</form>

</div>
{% endblock content %}